.home {
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.home-content {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.value {
  margin-bottom: 1rem;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
