.home {
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.home-content {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.value {
  margin-bottom: 1rem;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 12px;
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
