.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.intro-heading {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  color: #666;
}

.intro-text {
  font-size: 1rem;
  font-weight: 500;
  color: #888;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}
